body{

font-family: Arial;
background:#f4f4f4;
text-align:center;
margin:0;
padding:0;

}

.container{

background:white;
max-width:400px;
margin:40px auto;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);

}

h1{

color:#333;

}

input{

padding:10px;
width:80%;
font-size:16px;

}

button{

padding:12px 20px;
font-size:16px;
margin:10px;
border:none;
border-radius:6px;
cursor:pointer;

}

.sos{

background:red;
color:white;

}

.call{

background:green;
color:white;

}

.cameraBtn{

background:#007bff;
color:white;

}

video{

width:100%;
max-width:300px;
border-radius:10px;
margin-top:10px;

}

#location{

margin-top:10px;
font-weight:bold;

}